body{
    background-color: #031d36e2;
}

.card{
    grid-gap: 20px;
}
body{
    background-color: #031d36e2;
}

.dropdown-menu{
    background-color: #c5680a;
}
.nav-item .nav-link.active{
    background-color: #DE7812;
    color:white;
}
.nav-item .nav-link {
    color:#DE7812; 
}
.dropdown-menu{
    color:#DE7812; 
}
button.navbar-toggler{
    background-color: #DE7812; 
}
h1 ,.btm{
    color: #DE7812; 
}
h1.display-2{
    font-weight: bolder;
}
hr{
    color: #DE7812;    
}
h5.display-6{
    font-weight: bolder;
}
.carousel-caption {
    background-color:  #DE7812; 
}
#hl-os{
    display: none;
}
footer a{
    color: #DE7812;
}

.card{
    display: grid;
    background-color:#f3f3f3;
    color:#DE7812;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:  #c5680a; 
    --bs-btn-border-color:  #DE7812; 
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #DE7812; 
    --bs-btn-hover-border-color: #DE7812; 
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:  #DE7812; 
    --bs-btn-active-border-color:  #DE7812; 
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:  #DE7812; 
    --bs-btn-disabled-border-color:  #DE7812; 
}
footer{
    text-align: center;
}
@media (max-width: 991.98px) { 
    .col{
        display: none;
    }
    #hl-os{
        display: grid;
    }
}